@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* font-family: Cera Pro, sans-serif; */
}

.head {
    height: 120px;
    background: linear-gradient(270deg, #286049 29.17%, rgba(40, 96, 73, 0) 100%);
    padding: 15px 0px;
}

.navbarlink {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: rgba(255, 255, 255, 1);

}

.navbarlink:after {
    content: '';
    background: #8FB845;
    display: block;
    position: relative;
    /* bottom: -3px; */
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
}

.navbarlink:hover:not(.active-link):after {
    width: 100% !important;

}

.active-link:after {
    content: '';
    background: #8FB845;
    display: block;
    color: rgba(255, 255, 255, 1);
    position: relative;
    /* bottom: -3px; */
    left: 0;
    width: 100%;
    height: 2px;
}

.active-link:hover {
    color: rgba(255, 255, 255, 1);
}

.navbarlink:hover:not(.active-link) {
    color: rgba(255, 255, 255, 1);
}


/* ########## burger checkbox ################# */
.burger {
    position: relative;
    width: 25px;
    height: 20px;
    background: transparent;
    cursor: pointer;
    display: block;
    border: none;
}

.burger .burgerinput {
    display: none;
}

.burger .spanburger {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: rgba(0, 0, 0, 1);

    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    background-color: rgb(255, 255, 255);
}

.burger .middlespan {
    width: 60%;
    text-align: right;
}

.burger .spanburger:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger .spanburger:nth-of-type(2) {
    top: 50%;
    transform: translate(64%, -45%);
    transform-origin: left center;
}

.burger .spanburger:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger .burgerinput:checked~.spanburger:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger .burgerinput:checked~.spanburger:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger .burgerinput:checked~.spanburger:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 18px;
    left: 5px;
}


/* ########## End burger checkbox ################# */


.hero-section {
    background-image: url('../img/pims-hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 425px;
}

.hero-head {
    font-size: 46px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.02em;
    color: #286049;
}
.hero-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #000000;
}

.section1{
    margin-top: 100px;
    padding: 0px 350px;
}
.section1-text1{
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-align: justify;
    color: #000000;
}
.text-area2{
    background-color: #F4F9EC;
}
.section1-text2{
    margin-top: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #286049;
    padding: 40px 25px;
}
.image{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.text-area3{
    margin-top: 50px;
}


/* Footer Css  */
.footer {
    background-color: #286049;
    margin-top: 150px;
}

.call-us {
    font-size: 16px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.p-no {
    font-size: 16px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-decoration: none;
}

.email {
    font-size: 16px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}

.e-mail {
    font-size: 16px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-decoration: none;
}

.bottom-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 0;
}

.p-policy {
    color: #FFFFFF;
    text-decoration: none;
}

.seciton4-text-pad {
    padding-top: 80px;
}







@media (min-width: 1440px) {
    .container {
        max-width: 1370px !important;
    }
}



@media (min-width: 0px) and (max-width: 320.98px) {
    .active-link:after {
        width: 15%;
    }

    .navbarlink:hover:not(.active-link):after {
        width: 0% !important;
    }

    .back-color {
        background: linear-gradient(270deg, #28664c 29.17%, #7fc0a5 100%);
        text-align: center;
        position: relative;
        z-index: 3;
    }

    .nav-item {
        padding: 10px 0;
    }

    .smallcontainer {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-brand {
        padding-left: 20px;
    }

    .burger {
        margin-right: 20px;
    }

    .email-no {
        flex-direction: column;
    }

    .p-no {
        padding-right: 0px !important;
    }

    .call-us {
        margin-bottom: 0px;
    }

    .head {
        background: linear-gradient(270deg, #28664c 29.17%, #7fc0a5 100%);
    }

    .hero-head {
        font-size: 22px;
        line-height: 38px;
    }
    .hero-text{
        font-size: 13px;
    }
    .padforsmalltop {
        padding-top: 40px;
    }

    .padforsmallbtm {
        padding-bottom: 70px;
    }
    .section1-largetext{
        padding: 0px;
    }
    .section1{
        padding: 0px 10px;

    }
    .section1-text2{
        font-size: 13px;
        padding: 40px 0px;
    }
    .hero-text{
        padding: 0px 15px;
    }
    .container{
        padding: 0px 15px !important;
      }



}

@media (min-width: 320.98px) and (max-width: 375.98px) {
    .active-link:after {
        width: 15%;
    }

    .navbarlink:hover:not(.active-link):after {
        width: 0% !important;
    }

    .back-color {
        background: linear-gradient(270deg, #28664c 29.17%, #7fc0a5 100%);
        text-align: center;
        position: relative;
        z-index: 3;
    }

    .nav-item {
        padding: 10px 0;
    }

    .smallcontainer {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-brand {
        padding-left: 20px;
    }

    .burger {
        margin-right: 20px;
    }

    .email-no {
        flex-direction: column;
    }

    .p-no {
        padding-right: 0px !important;
    }

    .call-us {
        margin-bottom: 0px;
    }

    .head {
        background: linear-gradient(270deg, #28664c 29.17%, #7fc0a5 100%);
    }

    .hero-head {
        font-size: 28px;
        line-height: 38px;
    }

    .padforsmalltop {
        padding-top: 40px;
    }

    .padforsmallbtm {
        padding-bottom: 70px;
    }
    .section1-largetext{
        padding: 0px;
    }
    .section1{
        padding: 0px 10px;

    }
    .section1-text2{
        padding: 40px 0px;
    }
    .hero-text{
        padding: 0px 15px;
    }
    .container{
        padding: 0px 15px !important;
      }
  

}

@media (min-width: 375.98px) and (max-width: 425.98px) {
    .active-link:after {
        width: 15%;
    }

    .navbarlink:hover:not(.active-link):after {
        width: 0% !important;
    }

    .back-color {
        background: linear-gradient(270deg, #28664c 29.17%, #7fc0a5 100%);
        text-align: center;
        position: relative;
        z-index: 3;
    }

    .nav-item {
        padding: 10px 0;
    }

    .smallcontainer {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-brand {
        padding-left: 20px;
    }

    .burger {
        margin-right: 20px;
    }

    .email-no {
        flex-direction: column;
    }

    .p-no {
        padding-right: 0px !important;
    }

    .call-us {
        margin-bottom: 0px;
    }

    .head {
        background: linear-gradient(270deg, #28664c 29.17%, #7fc0a5 100%);
    }

    .hero-head {
        font-size: 28px;
        line-height: 38px;
    }

    .padforsmalltop {
        padding-top: 40px;
    }

    .padforsmallbtm {
        padding-bottom: 70px;
    }
    .section1-largetext{
        padding: 0px;
    }
    .section1{
        padding: 0px 10px;

    }
    .section1-text2{
        padding: 40px 0px;
    }
    .hero-text{
        padding: 0px 15px;
    }
    .container{
        padding: 0px 15px !important;
      }
  

}

@media (min-width: 425.98px) and (max-width: 992px) {
    .head {
        background: linear-gradient(270deg, #28664c 29.17%, #7fc0a5 100%);
    }

    .active-link:after {
        width: 10%;
    }

    .smallcontainer {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-brand {
        padding-left: 20px;
    }

    .burger {
        margin-right: 20px;
    }

    .back-color {
        background: linear-gradient(270deg, #28664c 29.17%, #7fc0a5 100%);
        text-align: center;
        position: relative;
        z-index: 3;
    }

    .nav-item {
        padding: 10px 0;
    }

    .navbarlink:hover:not(.active-link):after {
        width: 0% !important;
    }


    .padforsmalltop {
        padding-top: 40px;
    }

    .padforsmallbtm {
        padding-bottom: 70px;
    }
    .section1{
        padding: 0px;
     }
     .hero-head{
        font-size: 32px;
     }
  
}

@media (min-width: 992.98px) and (max-width: 1200.98px) {
 .section1{
    padding: 0px 145px;
 }

}

@media (min-width: 1200.98px) and (max-width: 1440.98px) {

}