@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

html {
  scroll-behavior: smooth;
}
* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* font-family: Cera Pro, sans-serif; */
}

.head{
  height: 120px;
  background: linear-gradient(270deg, #286049 29.17%, rgba(40, 96, 73, 0) 100%);
  padding: 15px 0px;
}
.navbarlink {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: rgba(255, 255, 255, 1);

}
.navbarlink:after{
  content: '';
  background: #8FB845;
  display: block;
  position: relative;
  /* bottom: -3px; */
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
}
.navbarlink:hover:not(.active-link):after {
  width: 100% !important;
 
}
.active-link:after{
  content: '';
  background: #8FB845;
  display: block;
  color: rgba(255, 255, 255, 1);
  position: relative;
  /* bottom: -3px; */
  left: 0;
  width: 100%;
  height: 2px;
}
.active-link:hover{
  color: rgba(255, 255, 255, 1);
}
.navbarlink:hover:not(.active-link){
  color: rgba(255, 255, 255, 1);
}


/* ########## burger checkbox ################# */
.burger {
  position: relative;
  width: 25px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
  border: none;
}

.burger .burgerinput {
  display: none;
}

.burger .spanburger {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: rgba(0, 0, 0, 1);

  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  background-color: rgb(255, 255, 255);
}
.burger .middlespan {
  width: 60%;
  text-align: right;
}

.burger .spanburger:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger .spanburger:nth-of-type(2) {
  top: 50%;
  transform: translate(64%, -45%);
  transform-origin: left center;
}

.burger .spanburger:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger .burgerinput:checked ~ .spanburger:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger .burgerinput:checked ~ .spanburger:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger .burgerinput:checked ~ .spanburger:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 18px;
  left: 5px;
}


/* ########## End burger checkbox ################# */


.hero-section{
  height: 580px;
}
.image1{
  background-image: url('../img/hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:580px;
}
.image2{
  background-image: url('../img/hero1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:580px;
}
.image3{
  background-image: url('../img/hero2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:580px;
}
.image4{
  background-image: url('../img/hero3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:580px;
}
.carousel-control-prev{
  left: 150px;
}
.carousel-control-next{
  right: 150px;
}
.arrows{
  font-size: 60px;
  color: #000000b8;

}
.hero-head{
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.02em;
  text-align: center;
  /* margin-bottom: 0px; */
  color: #286049;
}
.hero-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #000000;
  /* margin-bottom: 0px; */
}
.contactbtn{
  padding: 15px 60px;
  background-color: #286049;
  color: #FFFFFF;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

}
.contactbtn:hover{
  background-color: #8FB845;
  color: #FFFFFF;
}
.section2{
  position: relative;
}
.section2-left{
  position: absolute;
  top: 100px;
  left: 0px;
  width: 40%;
}
.section2-head{
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  color: #286049;
}
.section2-text{
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: justify;
  color: #000000;

}
.section2-link{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
  border-bottom: 2px solid #8FB845;
}
.section2-link:hover{
  color: #8FB845;
  border-bottom: 2px solid #286049;
}
.section3-head{
    font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  color: #286049;
}
.section3-text{
  padding-left: 100px ;
}
.section3-image-pad{
  padding-top:10px;
}
.section3linkpad{
  padding-top: 40px;
}

.section4-head{
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  color: #286049;
  text-align: center;

}
.list-group{
  border: none;
  border-radius:none;
}
.list-group-item{
  border: none;
  border-radius: 0px;
}
.forborder{
  border-top: 2px solid #EDEDED;
}
.list-text{
  color: #000000;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
}
.list-text:hover{
  color: #8FB845;
  cursor: pointer;
}
.arrow-right{
  color: #8FB845;
  font-size: 20px;
}

.foodslider {
  width: 100% !important;
  height: auto !important;
}
.flickity-prev-next-button.next {
  display: none !important;
}
.flickity-prev-next-button .flickity-button-icon {
  display: none !important;
}
.flickity-prev-next-button.previous {
  display: none !important;
}
.flickity-page-dots .dot{
  background-color: #8FB845;
 }

 .section5-left{
  background-color: #F4F9EC;
 }
 .section5-top-text{
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #000000;
 }
 .section5-head{
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  color: #286049;
 }
 .section5-middle-text{
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: justify;
  color: #000000;
 }
 .section5-para{
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: justify;
  margin-bottom:0px;
 }
 .sliderimage{
  z-index: 1;
 }
 .slider-text-pad{
  padding: 50px 60px 30px 60px !important;
 }
 .slider-link{
  padding-top: 60px;
 }


.footer{
  background-color: #286049;
}
 .call-us{
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.02em;
  color:#FFFFFF;
 }
 .p-no{
  font-size: 16px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-decoration: none;
 }
 .email{
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  
 }
 .e-mail{
  font-size: 16px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-decoration: none;
 }
 .bottom-text{
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 0;
 }
.p-policy{
  color: #FFFFFF;
  text-decoration: none;
}
.seciton4-text-pad{
  padding-top: 80px;
}







@media (min-width: 1440px) {
  .container {
    max-width: 1370px !important;
  }
}



@media (min-width: 0px) and (max-width: 320.98px) {
  .active-link:after{
    width: 20%;
  }
  .navbarlink:hover:not(.active-link):after {
    width: 0% !important;
  }
  .back-color{
    background: linear-gradient(270deg, #28664c 29.17%, #7fc0a5 100%);
    text-align: center; 
    position: relative;
    z-index:3;
 }
 .nav-item{
   padding: 10px 0;
 }
 .smallcontainer{
  padding-left: 0px;
  padding-right: 0px;
 }
 .navbar-brand{
  padding-left: 20px;
 }
 .burger{
  margin-right: 20px;
 }
 .hero-head{
  font-size: 18px;
  line-height: 46px;
 }
 .hero-text{
  font-size: 12px;
 }
 .carousel-control-prev{
  display: none;
}
.carousel-control-next{
  display: none;
}
.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #286049;
}
.section3linkpad{
  padding-top: 20px;
}
.section3-text{
  padding-left: 11px;
  padding-top: 30px;
}
.arrow-right{
  padding-right: 20px !important;
}
.list-text{
  font-size: 12px;
}
.carousel-indicators{
  bottom: -50px;
}
.slider-link{
  padding-top:30px;
}
.email-no{
  flex-direction: column;
}
.p-no{
  padding-right: 0px !important;
}
.call-us{
  margin-bottom: 0px;
}
.big-image-bottom{
  margin-top: 80px !important;
}
.head{
  background: linear-gradient(270deg, #28664c 29.17%, #7fc0a5 100%);
}
.section2-text{
  font-size: 14px;
}
.section2-head{
  font-size: 16px;
}
.section3-head{
  font-size: 16px;
}
.section4-head{
  font-size: 16px;
}
.seciton4-text-pad{
  padding-top: 30px;
}
.container{
  padding: 0px 15px !important;
}


}

@media (min-width: 320.98px) and (max-width: 375.98px) {
  .active-link:after{
    width: 15%;
  }
  .navbarlink:hover:not(.active-link):after {
    width: 0% !important;
  }
  .back-color{
    background: linear-gradient(270deg, #28664c 29.17%, #7fc0a5 100%);
    text-align: center; 
    position: relative;
    z-index:3;
 }
 .nav-item{
   padding: 10px 0;
 }
 .smallcontainer{
  padding-left: 0px;
  padding-right: 0px;
 }
 .navbar-brand{
  padding-left: 20px;
 }
 .burger{
  margin-right: 20px;
 }
 .hero-head{
  font-size: 28px;
  line-height: 46px;
 }
 .hero-text{
  font-size: 14px;
 }
 .carousel-control-prev{
  display: none;
}
.carousel-control-next{
  display: none;
}
.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #286049;
}
.section3linkpad{
  padding-top: 20px;
}
.section3-text{
  padding-left: 11px;
  padding-top: 30px;
}
.arrow-right{
  padding-right: 20px !important;
}
.list-text{
  font-size: 14px;
}
.carousel-indicators{
  bottom: -50px;
}
.slider-link{
  padding-top:30px;
}
.email-no{
  flex-direction: column;
}
.p-no{
  padding-right: 0px !important;
}
.call-us{
  margin-bottom: 0px;
}
.big-image-bottom{
  margin-top: 80px !important;
}
.head{
  background: linear-gradient(270deg, #28664c 29.17%, #7fc0a5 100%);
}
.section2-head{
  font-size: 18px;
}
.section3-head{
  font-size: 18px;
}
.section4-head{
  font-size: 18px;
}
.seciton4-text-pad{
  padding-top: 40px;
}
.padforsmalltop{
  padding-top: 40px;
}
.padforsmallbtm{
  padding-bottom: 70px;
}
.container{
  padding: 0px 15px !important;
}
  
}
@media (min-width: 375.98px) and (max-width: 425.98px) {
  .active-link:after{
    width: 15%;
  }
  .navbarlink:hover:not(.active-link):after {
    width: 0% !important;
  }
  .back-color{
    background: linear-gradient(270deg, #28664c 29.17%, #7fc0a5 100%);
    text-align: center; 
    position: relative;
    z-index:3;
 }
 .nav-item{
   padding: 10px 0;
 }
 .smallcontainer{
  padding-left: 0px;
  padding-right: 0px;
 }
 .navbar-brand{
  padding-left: 20px;
 }
 .burger{
  margin-right: 20px;
 }
 .hero-head{
  font-size: 28px;
  line-height: 46px;
 }
 .hero-text{
  font-size: 16px;
 }
 .carousel-control-prev{
  display: none;
}
.carousel-control-next{
  display: none;
}
.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #286049;
}
.section3linkpad{
  padding-top: 20px;
}
.section3-text{
  padding-left: 11px;
  padding-top: 30px;
}
.arrow-right{
  padding-right: 20px !important;
}
.list-text{
  font-size: 16px;
}
.carousel-indicators{
  bottom: -50px;
}
.slider-link{
  padding-top:30px;
}
.email-no{
  flex-direction: column;
}
.p-no{
  padding-right: 0px !important;
}
.call-us{
  margin-bottom: 0px;
}
.big-image-bottom{
  margin-top: 80px !important;
}
.head{
  background: linear-gradient(270deg, #28664c 29.17%, #7fc0a5 100%);
}
.padforsmalltop{
  padding-top: 40px;
}
.padforsmallbtm{
  padding-bottom: 70px;
}
.container{
  padding: 0px 15px !important;
}

}
@media (min-width: 425.98px) and (max-width: 992px) {
  .head{
    background: linear-gradient(270deg, #28664c 29.17%, #7fc0a5 100%);
  }
  .active-link:after{
    width: 10%;
  }
  .smallcontainer{
    padding-left: 0px;
    padding-right: 0px;
   }
   .navbar-brand{
    padding-left: 20px;
   }
   .burger{
    margin-right: 20px;
   }
   .carousel-control-prev{
  left: 0px;
}
.carousel-control-next{
  right: 0px;
}
.arrows{
  font-size: 30px;
}
 .section2-left{
  top: 25px;
  width: 90%;
  left: 10px;
 }
  .section3linkpad{
  padding-top: 0px;
}
.section3-text{
  padding-left: 10px;
}
.section3-images{
  padding-top: 50px;
}
.width-mid{
  width: 100%;
}
.back-color{
   background: linear-gradient(270deg, #28664c 29.17%, #7fc0a5 100%);
   text-align: center; 
   position: relative;
   z-index:3;
}
.nav-item{
  padding: 10px 0;
}
.navbarlink:hover:not(.active-link):after {
  width: 0% !important;
}
.padforsmalltop{
  padding-top: 40px;
}
.padforsmallbtm{
  padding-bottom: 70px;
}

}
@media (min-width: 992.98px) and (max-width: 1200.98px) {
 .carousel-control-prev{
  left: 50px;
}
.carousel-control-next{
  right: 50px;
}
.arrows{
  font-size: 50px;
}
.section2-left{
  width: 57%;
  top: 75px;
}
.section3-text{
  padding-left: 20px ;
}
.section3-image-pad{
  padding-top:76px;
}
.section3-head{
  font-size: 24px;
}
.section3linkpad{
  padding-top: 0px;
}
.list-text{
  font-size: 16px;
}
 .slider-text-pad{
  padding: 30px 60px 18px 60px !important;
 }
 .sliderimage{
  z-index: 0 !important;
 }
 .section5-left{
  z-index: 1;
 }

}

@media (min-width: 1200.98px) and (max-width: 1440.98px) {
  

}